body
{
    background: #ccd6e1;
    font-family: arial,serif;
}
canvas{
	cursor: url('../img/pencil.ico'),default;
}
div{
	border: 1px solid royalblue;
}
#game
{
    width: 500px;
    margin:0 auto;
}
#game h1
{
    text-align: center;
    margin-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
}
#drawing-pad
{
    border: 10px solid #fffeff;
    background: #f1f3ef;
    box-shadow: 0 3px 5px #333;
}
#chat-history
{
    list-style: none;
    padding: 0;
}
#chat-history li
{
    border-bottom: 1px dashed rgba(20,20,20,.2);
    margin: 10px 0;
}
.control_box{
	width: 500px;
	height: 28px;
    margin:0 auto;
    background: #fffeff;
    border: 10px solid #ccd6e1;
    box-shadow: 0 3px 5px #333;
}
.control_btn{
	/*border-radius: 20%;*/
	display: inline-block;
	width: 23px;
	height: 23px;
	background: url(../img/icon.png);
}
.btn_pencil{
	background-position: -3px -12px;
}
.btn_black{
	background-position: -504px -3px;
}
.btn_grey{
	background-position: -526px -3px;
}
.btn_dark_red{
	background-position: -548px -3px;
	/*22*/
}
.btn_red{
	background-position: -570px -3px;
}
.btn_orange{
	background-position: -592px -3px;
}
.btn_yellow{
	background-position: -614px -3px;
}
.btn_green{
	background-position: -636px -3px;
}
.btn_blue{
	background-position: -658px -3px;
}
.btn_dark_blue{
	background-position: -680px -3px;
}
.btn_purple{
	background-position: -702px -3px;
}
.btn_clear{
	background-position: -3px -48px;
}